@model IEnumerable<EventManagement.Models.EventModel>

@{
    ViewBag.Title = "EventInvitedTo";
}

<h2>EventInvitedTo</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
       
        <td>
            @{string s = item.Title;}
            @Html.ActionLink(s, "Details", new { id=item.EventID }) 
        </td>
    </tr>
}

</table>
